:root {
    --font-family: "Courier New", monospace;
    --font-size: min(2vh, 2vw);
    --gap: 1vh;
    --max-width: 400px;
    --border: 0.25vh solid black;
    --height: 3vh;
    --transition: all 0.1s ease;
}

* {
    font-family: var(--font-family);
    font-size: var(--font-size);
    gap: var(--gap);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculatorContainer,
.resultContainer,
.topContainer,
.bottomContainer {
    display: flex;
    width: 50%;
}

.calculatorContainer {
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
}

.resultContainer {
    justify-content: flex-end;
    align-items: center;
    padding: 0.5vh;
    box-sizing: border-box;
    border: var(--border);
    height: var(--height);
}

button {
    height: var(--height);
    background-color: white;
    color: black;
    border: var(--border);
}

button.active {
    background-color: black;
    color: white;
    transition: var(--transition);
}

.topContainer button {
    flex-grow: 1;
}

.bottomContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}