:root {
    --font-family: "Courier New", monospace;
    --font-size: min(2vh, 2vw);
    --gap: 1vh;
    --max-width: 400px;
    --height: 3vh;
}

* {
    font-family: var(--font-family);
    font-size: var(--font-size);
    gap: var(--gap);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculatorContainer,
.resultContainer,
.topContainer,
.bottomContainer {
    display: flex;
    width: 50%;
}

.calculatorContainer {
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
}

.resultContainer {
    justify-content: flex-end;
    align-items: center;
    padding: 0.5vh;
    box-sizing: border-box;
    border: 0.125vh solid black;
    height: var(--height);
}

button {
    height: var(--height);
}

.topContainer button {
    flex-grow: 1;
}

.bottomContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}